html{
    display: flex;
    background-color: #ffc200;
}

header{
    position: relative;
    object-fit: cover;
    object-position: 50% 50%;
}

img{
    object-fit: cover;
    object-position: 50% 50%;
  }

h1{
    text-align: center;
}

p{
    text-align: center;
}